# Transaction URL (Port 6543) - For daily API operation
PORT=4000
ENVIROMENT="development"
FRONTEND_URL='127.0.0.1:3000'

DATABASE_URL="postgresql://postgres:[PASSWORD]@db.[ID].supabase.co:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:[PASSWORD]@db.[ID].supabase.co:5432/postgres"

SUPABASE_URL="https://[ID].supabase.co"
SUPABASE_ANON_KEY="tu_clave_anon_de_supabase"

# Credentials - Cloudinary
CLOUDINARY_CLOUD_NAME="nobre_cloudinary"
CLOUDINARY_API_KEY="api_key"
CLOUDINARY_API_SECRET="secret_api_key"